<ion-header no-border>
  <ion-navbar color="secondary">
    <ion-title>
      Todo app
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="createTodo()"><ion-icon name="cloud-upload"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding >

  <ion-card *ngFor="let todo of todos">
    <ion-card-header>
      {{todo.title}}
    </ion-card-header>

    <ion-card-content>
      <button ion-button icon-only color="light" (click)="updateTodo(todo)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only color="light" (click)="deleteTodo(todo)">
        <ion-icon name="close"></ion-icon>
      </button>
      <ion-icon *ngIf="todo.completed" name="ios-checkmark-circle" item-left></ion-icon>
      <ion-icon *ngIf="!todo.completed" name="ios-checkmark-circle-outline" item-left></ion-icon>
    </ion-card-content>
  </ion-card>

</ion-content>
